div{
    border: 3px solid #DBDBDB;
    background: #CCCCCC;
    margin: 20px;
    padding: 10px;
    border-radius: 2%;
}

h1{
    text-align: center;
    font-weight: 100;

}

p{
    font-family:'';
    font-size: 16px;
    color: rgb(79, 73, 73);
}