body{
    background: rgba(28, 25, 25, 0.785);
    margin: 0;
  
}


.caja{
   background: rgb(62, 15, 203) ;
   width: 70px;
   height: 70px;
   margin: 5px;
   padding: 5px;

}

.uno{
    box-sizing: border-box;
    padding: 20px;
    border: 10px solid black;
}

.dos{
    box-sizing: border-box;
    padding: 20px;
    border: 10px solid black;

}
