h1{
    color: rgb(7, 37, 128);
    font-family: cursive;
    font-style: italic;
    text-align: center;
    text-decoration: underline 5px;
  
}

p{
    color: blueviolet;
    font-size: 30px;
    font-family:  sans-serif;
    font-weight: 600;
    font-style: oblique;
    text-align: justify;
    line-height: 2;
}